.card-hover:hover {
    cursor: pointer;
}

.card-img {
    object-fit: cover;
}

.card-img-overlay {
    background: linear-gradient(to bottom, rgba(0,0,0,0.05) 55%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0.8) 90%, rgba(0,0,0,1) 100%);
}

.card-img-overlay:hover {
    background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.15) 10%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0.7) 90%, rgba(0,0,0,0.9) 100%);
}

.home-section {
    padding: 2rem 0;
    margin-left: 15px;
}

.home-section-name {
    font-family: 'Kanit', sans-serif;
    display: inline-block;
    font-size: 30px;
    font-weight: 1000;
    border-bottom: 4px solid #c06014;
}
